<div class="card mb-5 mb-xl-10 d-flex">
    <div class="card-header row">
        <div class="card-title">
            <span>{{'FISKALY_SETTINGS' | translate}}</span>
        </div>
    </div>

    <td class="card-body">
        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
            <thead class="fw-bold">
                <tr>
                    <th class="col-3 fw-bold">{{ 'LOCATION' | translate}}</th>
                    <th class="col-3">{{ 'TSS_ID' | translate}}</th>
                    <th class="col-3">{{ 'TSS_STATE' | translate}}</th>
                    <th class="col-3">{{ 'ACTIONS' | translate}}</th>

                </tr>
            </thead>
            <tbody class="fw-bold">
                <tr class="d-flex justify-content-center">
                    <div class="spinner-border mx-auto" *ngIf="fetchingTss"></div>
                </tr>
                <ng-container *ngIf="businessDetails?.aLocation?.length && !fetchingTss">
                    <tr class="bg-hover-secondary" *ngFor="let location of businessDetails.aLocation; index as i"
                        [ngClass]="{'opacity-50': location.bUpdatingState}">                       
                        <td class="col-3">
                            <label>{{location.sName}}</label>
                        </td>
                        <td class="col-3">
                            <label>{{location.tssInfo ?location.tssInfo._id: 'NA'}}</label>
                        </td>
                        <td class="col-3">
                            <label *ngIf="location.tssInfo else na">{{ (location.tssEnabled) ? location.tssInfo.state : 'DISABLED' }}</label>
                        </td>
                        <td class="col-3">
                            <button *ngIf="!location.tssInfo" class="btn btn-primary"
                                (click)="createTSS(location, i)">{{"CREATE_TSS" |translate}}</button>
                            <label *ngIf="location.tssInfo"
                                class="form-check form-switch form-check-custom form-check-solid">
                                <input type="checkbox" [(ngModel)]="location.tssEnabled" class="form-check-input"
                                    (ngModelChange)="changeState(location, location.tssEnabled, i)">
                            </label>

                        </td>
                        <div class="center-row-abs">
                            <div *ngIf="location.bUpdatingState" class="spinner-border"></div>
                        </div>
                    </tr>
                    <ng-template #na>{{'NA'}}</ng-template>
                </ng-container>
            </tbody>
        </table>
</div>

