<div class="card">
    <div class="card-header row" style="margin-top: 20px;">
        <div class="col-md-10">
            <h4>Create payment method</h4>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="card-body">
        <diV class="row">
            <div class="col-md-4">
                <label class="form-label form-control-solid">Name:</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" (value)="customMethod.sName" [(ngModel)]="customMethod.sName"/>
            </div>
        </diV>
        <diV class="row">
            <div class="col-md-4">
                <label class="form-label">Stock reduction :</label>
            </div>
            <div class="col-md-8">
                <label class="form-check form-switch form-check-custom form-check-solid">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="customMethod.bStockReduction"> 
                </label>
            </div>
        </diV>
        <diV class="row">
            <div class="col-md-4">
                <label class="form-label">Invoice:</label>
            </div>
            <div class="col-md-8">
                <label class="form-check form-switch form-check-custom form-check-solid">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="customMethod.bInvoice"> 
                </label>
            </div>
        </diV>
        <!-- <diV class="row">
            <div class="col-md-4">
                <label class="form-label">Assign saving points:</label>
            </div>
            <div class="col-md-8">
                <label class="form-check form-switch form-check-custom form-check-solid">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="customMethod.bAssignSavingPoints"> 
                </label>
            </div>
        </diV> -->
        <diV class="row">
            <div class="col-md-4">
                <label class="form-label">Assign saving points last payment:</label>
            </div>
            <div class="col-md-8">
                <label class="form-check form-switch form-check-custom form-check-solid">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="customMethod.bAssignSavingPointsLastPayment"> 
                </label>
            </div>
        </diV>
        <diV class="row">
            <div class="col-md-4">
                <label class="form-label form-control-solid">Ledger Number:</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" (value)="customMethod.sLedgerNumber" [(ngModel)]="customMethod.sLedgerNumber"/>
            </div>
        </diV>
    </div>
    <div class="card-footer row">
        <div class="col-md-10">
            <button *ngIf="mode == 'create'" class="btn btn-primary" (click)="create()">Create</button>
            <button *ngIf="mode == 'details'" class="btn btn-primary" (click)="update()">Submit</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-secondary" (click)="close()">Close</button>
        </div>
    </div>
</div>
