<!--begin::Exolore drawer-->
<div 
  id="kt_supplier_stock_product" 
  class="bg-body" 
  data-kt-drawer="true" 
  data-kt-drawer-name="explore"
  data-kt-drawer-activate="true" 
  data-kt-drawer-overlay="true" 
  data-kt-drawer-width="{default:'350px', 'lg': '475px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-close="#kt_supplier_stock_product_close">
  <!--  -->

  <!--begin::Card-->
  <div class="card shadow-none rounded-0 w-100">
    <!--begin::Header-->
    <div class="card-header" id="kt_explore_header">
      <h3 class="card-title fw-bolder text-gray-700">
        <div *ngIf="ProductsLoading" class="d-flex justify-content-center align-content-center">
          <div class="spinner-border mx-5"></div>
        </div>
        {{productData?.sProductNumber??''}}

      </h3>

      <div class="card-toolbar">
        <button type="button" class="btn btn-sm btn-icon btn-active-light-primary me-n5"
          id="kt_supplier_stock_product_close">
          <span class="svg-icon svg-icon-2"><i class="fa fa-times" aria-hidden="true"></i>
          </span>
        </button>
      </div>
    </div>
    <!--end::Header-->

    <!--begin::Body-->
    <div class="card-body" id="kt_explore_body">
      <!--begin::Content-->
      <div id="kt_explore_scroll" class="scroll-y me-n5 pe-5" data-kt-scroll="true" data-kt-scroll-height="auto"
        data-kt-scroll-wrappers="#kt_explore_body" data-kt-scroll-dependencies="#kt_explore_header"
        data-kt-scroll-offset="5px">

        <!--begin::Wrapper-->
        <div class="mb-0">
          <!-- Product image  -->

          <div class="row justify-content-center align-content-center m-5 bg-gray-100">
            <div class="card my-2" style="width: 18rem;">

              <div class="card-header">
                <p class="text-center p-0 d-flex justify-content-center align-items-center w-100 h5">
                  {{productData?.sProductNumber??''}}
                </p>

              </div>
              <div class="card-body d-flex justify-content-center align-items-center p-4">
                <div class="image-input " data-kt-image-input="true">
                  <div class="w-125px h-125px" style="background-image: url(assets/media/avatars/300-1.jpg)">
                    <img
                      [src]='this.productData?.aImage?.length? this.productData?.aImage[0] || "../assets/images/no-photo-available.jpg":"../assets/images/no-photo-available.jpg"'
                      width="125px" height="125px">
                  </div>
                  <div class="col-12">
                    <label
                      class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow d-inline-block"
                      data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">

                      <i class="bi bi-box-arrow-up-right text-gray-500"></i>
                    </label>
                  </div>

                </div>
              </div>
            </div>


          </div>
          <!-- Product image: over -->

          <div *ngIf="!productData?.iProductId" class="alert alert-warning d-flex align-items-center p-5">

            <div class="d-flex flex-column">

              <span>
                {{'PRODUCT_CONNECTED' | translate  }}
              </span>

            </div>

          </div>

          <p>{{'CURRENT_STOCK_LEVEL' | translate}}: {{stock}} | {{'CURRENT_MIN_STOCK_LEVEL' | translate}}: {{productData?.oCurrentLocation?.nMinStock || 0 }}</p>
          
          <div *ngIf="showInputStock">
            <input class="form-control" id="ProductnStock" type="number" min="0" [(ngModel)]="productData.oCurrentLocation.nMinStock" (ngModelChange)="nMinStockChange($event)">
          </div>
          
          <button *ngIf="buyNowButtonText === 'SET_AS_MIN_STOCK_PRODUCT'"
            (click)="onBuyNowClick($event)"  class="btn btn-info mb-5 w-100">
            {{buyNowButtonText | translate}}
          </button>


          <button *ngIf="buyNowButtonText === 'Re-order'" (click)="onBuyNowClick($event)" class="btn btn-danger mb-5 w-100"
            (click)="onBuyNowClick($event)">
            {{buyNowButtonText | translate}} </button>
            
          <div class="d-flex flex-column">
            <div *ngIf="productData?.iProductId" class="card-toolbar flex-row-fluid justify-content-end">
                <button  (click)="viewOnSupplierWebShop()" [disabled]="bIsSlideTurnOff"
                  class="btn btn-primary mb-5 w-100">{{"VIEW_ON_SUPPLIER_WEBSHOP" | translate}}</button>
            </div>
          </div>
          <!-- tabs  -->
          <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
            <li class="nav-item cursor-pointer" *ngFor="let tab of tabs">
              <button [disabled]="tab?.isDisable" class="nav-link" [ngClass]="{active:tab.index === currentTab}"
                (click)="onTabChange(tab.index)">{{tab.name}}</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <container-element [ngSwitch]="currentTab">
              <!-- Related Product -->
              <div *ngSwitchCase="0" class="tab-pane fade show active overflow-scroll" style="height: 60vh;">
                <div class="d-flex flex-wrap justify-content-center ">
                  {{'FIND_PRODUCT_DETAIL' | translate}}
                 
                </div>
              </div>
              <!-- Related Product:Over -->
              
              <!-- Comparable Product -->
              <div *ngSwitchCase="1" class="tab-pane fade show active overflow-scrol" style="height: 60vh;">
                <div *ngIf="ComparableProductsLoading" class="d-flex justify-content-center align-content-center">
                  <div class="spinner-border mx-5"></div>
                </div>
                <div *ngIf="!ComparableProductsLoading  && !ComparableProducts?.length"
                  class="d-flex justify-content-center align-content-center">
                  <div class="mx-5 d-flex justify-content-center align-items-center ">
                    <p>
                      {{"NO_DATA_FOUND" | translate }}
                    </p>
                  </div>
                </div>
                <div *ngIf="!ComparableProductsLoading && ComparableProducts.length > 0">
                  <div class="d-flex flex-wrap justify-content-center l">
                    <div class=" p-5" *ngFor="let product of ComparableProducts">
                      <img class="h-150px w-150px cursor-pointer " (click)="onSelectCompareProduct(product._id)"
                        [src]="product.aImage[0]||'../assets/images/no-photo-available.jpg'" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Comparable Product:Over -->

              <!-- Trade Product (Most Sold) -->
              <div *ngSwitchCase="3">
                <ng-container [ngTemplateOutlet]="tradeProductListTemplate"></ng-container>
              </div>
              <!-- Trade Product:Over -->
              
              <!-- Trade Product (Purchased) -->
              <div *ngSwitchCase="4">
                <ng-container [ngTemplateOutlet]="tradeProductListTemplate"></ng-container>
              </div>
              <!-- Trade Product:Over -->
              
             <!-- Available Sizes -->
             <div *ngSwitchCase="2" class="tab-pane fade show active overflow-scroll" style="height: 60vh;">
              <div class="d-flex justify-content-center flex-column">
                <!-- Retailer Business Products -->
                <div class="my-5">
                  <h4>{{'BUSINESS_PRODUCT_VARIANT' | translate}}</h4>
                  <div class="table-responsive">
                    <table class="table table-row-bordered gy-5 w-100" style="caption-side: top;"
                      *ngFor="let productVariant of aBusinessProductVariant; let i=index">
                      <caption>{{productVariant?.sVariantBase }} {{'VARIANT' | translate}}</caption>
                      <thead>
                        <tr class="fw-bold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                          <td>{{'NAME' | translate}}</td>
                          <td> {{'PRODUCT_NUMBER' | translate}}</td>
                          <td>{{'VALUE' | translate}} </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="border-bottom border-gray-200"
                          *ngFor="let variant of productVariant?.aBusinessProduct; let id=index">
                          <td>{{variant?.oName[currentLanguage] || '-' }}</td>
                          <td>{{variant?.sProductNumber}} </td>
                          <td>{{variant?.value}} </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex">
                    <h5 *ngIf='!aBusinessProductVariant?.length && !showProductVariantLoader'> {{ "NO_DATA_FOUND" | translate}} !</h5>
                    <div *ngIf="showProductVariantLoader" class="spinner-border mx-auto"></div>
                  </div>
                </div>
                <button class="btn btn-primary" *ngIf="!isShowAvailableProduct" (click)="getAvailableSizesProducts()">{{'SHOW_MORE_DATA'
                  | translate}}</button>
                <button class="btn btn-secondary" *ngIf="isShowAvailableProduct" (click)="hideAvailableProduct()">{{'SHOW_LESS' |
                  translate}}</button>

                <div class="my-5" *ngIf="isShowAvailableProduct">
                  <h4>{{'RETAILER_BUSINESS_PRODUCTS' | translate}}</h4>
                  <table class="table table-row-bordered gy-5 w-100">
                    <thead>
                      <tr class="fw-bold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                        <th>#</th>
                        <th>{{'SIZE' | translate}}</th>
                        <th>{{'STOCK' | translate}}</th>
                        <th>{{'ADVICED' | translate}}</th>
                        <th>{{'ACTION' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="AvailableSizesProductsLoading" class="border-bottom border-gray-200">
                        <td colspan="4">
                          <div class="d-flex justify-content-center align-content-center">
                            <div class="spinner-border mx-5"></div>
                          </div>
                        </td>
                      </tr>
                      <tr
                        *ngIf="!AvailableSizesProductsLoading  && !AvailableSizesProducts?.retailerBusinessProducts?.length"
                        class="border-bottom border-gray-200">
                        <td colspan="3">
                          <div class="d-flex justify-content-center align-content-center">
                            <div class="mx-5 d-flex justify-content-center align-items-center ">
                              <p>
                                  {{'NO_DATA_FOUND' | translate}}
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <ng-container
                        *ngIf="!AvailableSizesProductsLoading && AvailableSizesProducts?.retailerBusinessProducts?.length">
                        <tr
                          *ngFor="let retailerProduct of AvailableSizesProducts?.retailerBusinessProducts;let i = index"
                          class="border-bottom border-gray-200">
                          <td>
                            {{i+1}}
                          </td>
                          <td>
                            0
                          </td>
                          <td>
                            {{retailerProduct?.nStock??0}}
                          </td>
                          <td [ngClass]="retailerProduct.isAdvisedProduct?'text-success':'text-danger'">
                            {{retailerProduct.isAdvisedProduct?'Adviced':''}}
                          </td>
                          <td>
                            <button (click)="onSelectAvailableSizeProduct(retailerProduct._id)" class="btn btn-light"
                              type="button">
                              {{'OPEN' | translate}}
                            </button>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <!-- Supplier Business Products -->
                <div class="my-5" *ngIf="isShowAvailableProduct">
                  <h4>{{'SUPPLIER_BUSINESS_PRODUCT' | translate}}</h4>
                  <table class="table table-row-bordered gy-5 w-100">
                    <thead>
                      <tr class="fw-bold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                        <th>#</th>
                        <th>{{'SIZE' | translate}}</th>
                        <th>{{ 'STOCK'| translate}}</th>
                        <th>{{'ACTION' | translate}}</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="AvailableSizesProductsLoading" class="border-bottom border-gray-200">
                        <td colspan="4">
                          <div class="d-flex justify-content-center align-content-center">
                            <div class="spinner-border mx-5"></div>
                          </div>
                        </td>
                      </tr>
                      <tr
                        *ngIf="!AvailableSizesProductsLoading  && !AvailableSizesProducts?.supplierBusinessProducts?.length"
                        class="border-bottom border-gray-200">
                        <td colspan="3">
                          <div class="d-flex justify-content-center align-content-center">
                            <div class="mx-5 d-flex justify-content-center align-items-center ">
                              <p>
                                {{'NO_DATA_FOUND' | translate}}
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <ng-container
                        *ngIf="!AvailableSizesProductsLoading && AvailableSizesProducts?.supplierBusinessProducts?.length">
                        <tr
                          *ngFor="let supplierProduct of AvailableSizesProducts?.supplierBusinessProducts;let i = index"
                          class="border-bottom border-gray-200">
                          <td>
                            {{i+1}}
                          </td>
                          <td>
                            0
                          </td>
                          <td>
                            {{supplierProduct?.nStock??0}}
                          </td>
                          <td [ngClass]="supplierProduct.isAdvisedProduct?'text-success':'text-danger'">
                            {{supplierProduct.isAdvisedProduct?'Adviced':''}}
                          </td>
                          <td>
                            <button (click)="onSelectAvailableSizeProduct(supplierProduct._id)" class="btn btn-light"
                              type="button">
                              {{'OPEN' | translate}}
                            </button>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Available Sizes:Over-->
            </container-element>
          </div>
          <!-- tabs  -->
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Trade product list -->
<ng-template let-data="data" #tradeProductListTemplate>
  <div class="tab-pane fade show active overflow-scrol" style="height: 60vh;">
    <div *ngIf="bIsTradeProductLoading" class="d-flex justify-content-center align-content-center">
      <div class="spinner-border mx-5"></div>
    </div>
    <div *ngIf="!bIsTradeProductLoading  && !aTradeProducts?.length"
      class="d-flex justify-content-center align-content-center">
      <div class="mx-5 d-flex justify-content-center align-items-center ">
        <p>{{ "NO_DATA_FOUND" | translate }}</p>
      </div>
    </div>
    <div *ngIf="!bIsTradeProductLoading && aTradeProducts.length">
      <div class="d-flex flex-wrap justify-content-center l">
        <div class=" p-5" *ngFor="let product of aTradeProducts">
          <img class="h-150px w-150px cursor-pointer " (click)="onSelectTradeProduct(product._id)"
            [src]="product.aImage[0]||'../assets/images/no-photo-available.jpg'" alt="">
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Trade product list -->