<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <!--start of supplier -->
      <table class="table table-rounded border border-gray-300 table-row-bordered table-row-gray-300 gy-5 gs-5 text-gray-600">
        <thead>
          <tr>
            <th ><span class="">{{"SUPPLIER" | translate}}</span><h3 class="text-black">Excellent Asperen</h3></th>
            <th class="w-150px"><span class="">{{"QUANTITY" | translate}}</span><h4 class="text-black">1</h4></th>
            <th class="w-150px"><span class="">{{"PRICE_WITH_VAT" | translate}}</span><h4 class="text-black">€ 1</h4></th>
            <th class="w-150px"><span class="">{{"PURCHASE_PRICE" | translate}}</span><h4 class="text-black">€ 1</h4></th>
            <th class="w-150px"><span class="">{{"GROSS_PROFIT" | translate}}</span><h4 class="text-black">€ 1</h4></th>
            <th class="w-150px"><span class="">{{"MARGIN" | translate}}</span><h4 class="text-black">€ 1</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="6" class="p-2">
              <table class="table table-row-bordered table-row-gray-300 gy-5 gs-5 mb-0 text-gray-600 fw-bold border">
                <!-- start of articlegroup -->
                <thead class="bg-gray-100">
                  <tr class="fw-bold fs-6 text-gray-800">
                    <th scope="col">Karma Jewels 1</th>
                    <th scope="col" class="w-150px">21</th>
                    <th scope="col" class="w-150px">€ 12,34</th>
                    <th scope="col" class="w-150px">€ 1,23</th>
                    <th scope="col" class="w-150px">€ 123,45</th>
                    <th scope="col" class="w-150px">€ 12,34</th>
                  </tr>
                </thead>
                <tbody class="p-2">
                  <!--start of dyamic property -->
                  <tr>
                    <td class="ps-9">WATCHES</td>
                    <td>€ 123,45</td>
                    <td>€ 1234,56</td>
                    <td>€ 12,34</td>
                    <td>€ 1,23</td>
                    <td>€ 12.345,67</td>
                  </tr>
                  <!--end of dyamic property -->
                  <tr>
                    <td class="ps-9">JEWELS</td>
                    <td>€ 123,45</td>
                    <td>€ 1234,56</td>
                    <td>€ 12,34</td>
                    <td>€ 1,23</td>
                    <td>€ 12.345,67</td>
                  </tr>
                  <tr>
                    <td class="ps-9">OTHER</td>
                    <td>€ 123,45</td>
                    <td>€ 1234,56</td>
                    <td>€ 12,34</td>
                    <td>€ 1,23</td>
                    <td>€ 12.345,67</td>
                  </tr>
                </tbody>
                <!-- end of articlegroup -->

                <!-- start of articlegroup -->
                <thead class="bg-gray-100">
                  <tr class="fw-bold fs-6 text-gray-800">
                    <th>Karma Jewels 2</th>
                    <th class="w-150px">25</th>
                    <th class="w-150px">€ 12,34</th>
                    <th class="w-150px">€ 1,23</th>
                    <th class="w-150px">€ 123,45</th>
                    <th class="w-150px">€ 12,34</th>
                  </tr>
                </thead>
                <!-- start of articlegroup -->
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <!--end of supplier -->

      <!-- start of supplier ...-->

    </div>
  </div>
</div>

