<div class="container">
  <div>
    <div class="row">
      <div class="col-md-4">
        <span class="">{{ 'QUANTITY' | translate}}</span>
        <h3 class="text-black">{{aStatistic[0].overall[0].quantity}}</h3>
      </div>
      <div class="col-md-4">
        <span class="">{{ 'TOTAL' | translate}}</span>
        <h3 class="text-black">{{aStatistic[0].overall[0].total}}</h3>
      </div>
      <div class="col-md-4">
        <select class="form-select" id="product-attributes" [(ngModel)]="sDisplayMethod"
          (click)="changeDisplayMethod($event)">
          <option *ngFor="let option of aDisplayMethod" [value]="option.sKey">{{ option.sValue | translate}}</option>
        </select>
      </div>
    </div>
  </div>
  <pre>{{aStatistic[0].overall | json}}</pre>
  <hr>

  <div>
    <div class="table-responsive" *ngFor="let oStatistic of aStatistic; let statisticIndex = index">
      <p>Vat Rate Table</p>
      <table
        class="table table-rounded border border-gray-300 table-row-bordered table-row-gray-300 gy-5 gs-5 text-gray-600"
        *ngFor="let oSupplier of oStatistic.individual; let supplierIndex = index">
        <thead>
          <tr>
            <th><span class="">{{ 'SUPPLIER' | translate}}</span>
              <h3 class="text-black">{{oSupplier.businessPartnerName}}</h3>
            </th>
            <th class="w-150px"><span class="">{{"QUANTITY" | translate}}</span>
              <h4 class="text-black">{{oSupplier.quantity}}</h4>
            </th>
            <th class="w-150px"><span class="">{{"PRICE_WITH_VAT" | translate}}</span>
              <h4 class="text-black">{{oSupplier.totalRevenue}}</h4>
            </th>
            <th class="w-150px"><span class="">{{"PURCHASE_PRICE" | translate}}</span>
              <h4 class="text-black">{{oSupplier.totalPurchaseAmount}}</h4>
            </th>
            <th class="w-150px"><span class="">{{"GROSS_PROFIT" | translate}}</span>
              <h4 class="text-black">{{oSupplier.profit}}</h4>
            </th>
            <th class="w-150px"><span class="">{{"MARGIN" | translate}}</span>
              <h4 class="text-black">{{oSupplier.margin}}</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="6" class="p-2">
              <table class="table table-row-bordered table-row-gray-300 gy-5 gs-5 mb-0 text-gray-600 fw-bold border"
                *ngFor="let oArticleGroup of oSupplier.articleGroups; let articleGroupIndex = index">
                <thead class="bg-gray-100">
                  <tr class="fw-bold fs-6 text-gray-800">
                    <th scope="col">{{oArticleGroup.name}}</th>
                    <th scope="col" class="w-150px">{{oArticleGroup.quantity}}</th>
                    <th scope="col" class="w-150px">{{oArticleGroup.totalRevenue}}</th>
                    <th scope="col" class="w-150px">{{oArticleGroup.totalPurchaseAmount}}</th>
                    <th scope="col" class="w-150px">{{oArticleGroup.profit}}</th>
                    <th scope="col" class="w-150px">{{oArticleGroup.margin}}</th>
                  </tr>
                </thead>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <!--end of supplier -->

      <!-- start of supplier ...-->

    </div>
  </div>

  <div class="card overflow-y-auto" *ngIf="sDisplayMethod == 'revenuePerBusinessPartner'">
    <p> revenuePerBusinessPartner </p>
    <div class="card-body">
      <div class="table-responsive" *ngFor="let oStatistic of aStatistic; let statisticIndex = index">
        <table
          class="table table-rounded border border-gray-300 table-row-bordered table-row-gray-300 gy-5 gs-5 text-gray-600"
          *ngFor="let oSupplier of oStatistic.individual; let supplierIndex = index">
          <thead>
            <tr>
              <th><span class="">{{ 'SUPPLIER' | translate}}</span>
                <h3 class="text-black">{{oSupplier.businessPartnerName}}</h3>
              </th>
              <th class="w-150px"><span class="">{{"QUANTITY" | translate}}</span>
                <h4 class="text-black">{{oSupplier.quantity}}</h4>
              </th>
              <th class="w-150px"><span class="">{{"PRICE_WITH_VAT" | translate}}</span>
                <h4 class="text-black">{{oSupplier.totalRevenue}}</h4>
              </th>
              <th class="w-150px"><span class="">{{"PURCHASE_PRICE" | translate}}</span>
                <h4 class="text-black">{{oSupplier.totalPurchaseAmount}}</h4>
              </th>
              <th class="w-150px"><span class="">{{"GROSS_PROFIT" | translate}}</span>
                <h4 class="text-black">{{oSupplier.profit}}</h4>
              </th>
              <th class="w-150px"><span class="">{{"MARGIN" | translate}}</span>
                <h4 class="text-black">{{oSupplier.margin}}</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="6" class="p-2">
                <table class="table table-row-bordered table-row-gray-300 gy-5 gs-5 mb-0 text-gray-600 fw-bold border"
                  *ngFor="let oArticleGroup of oSupplier.articleGroups; let articleGroupIndex = index">
                  <!-- start of articlegroup -->
                  <thead class="bg-gray-100">
                    <tr class="fw-bold fs-6 text-gray-800">
                      <th scope="col">{{oArticleGroup.name}}</th>
                      <th scope="col" class="w-150px">{{oArticleGroup.quantity}}</th>
                      <th scope="col" class="w-150px">{{oArticleGroup.totalRevenue}}</th>
                      <th scope="col" class="w-150px">{{oArticleGroup.totalPurchaseAmount}}</th>
                      <th scope="col" class="w-150px">{{oArticleGroup.profit}}</th>
                      <th scope="col" class="w-150px">{{oArticleGroup.margin}}</th>
                    </tr>
                  </thead>
                  <tbody class="p-2"
                    *ngFor="let oRevenueByProperty of oArticleGroup.revenueByProperty; let revenuePropertyIndex = index">
                    <!--start of dyamic property -->
                    <tr>
                      <td class="ps-9">{{oRevenueByProperty.category}}</td>
                      <td>{{oRevenueByProperty.quantity}}</td>
                      <td>{{oRevenueByProperty.totalRevenue}}</td>
                      <td>{{oRevenueByProperty.totalPurchaseAmount}}</td>
                      <td>{{oRevenueByProperty.profit}}</td>
                      <td>{{oRevenueByProperty.margin}}</td>
                    </tr>
                  </tbody>
                  <!-- start of articlegroup -->
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <!--end of supplier -->

        <!-- start of supplier ...-->

      </div>
    </div>
  </div>

  <div class="card" *ngIf="sDisplayMethod == 'revenuePerSupplierAndArticleGroup'">
    <p> Supplier and Article Group revenuePerArticleGroup (Article Group) </p>
    <div class="card-body">
      <div class="table-responsive" *ngFor="let oStatistic of aStatistic; let i = index">
        <table
          class="table table-rounded border border-gray-300 table-row-bordered table-row-gray-300 gy-5 gs-5 text-gray-600"
          *ngFor="let oSupplier of oStatistic.individual; let supplierIndex = index">
          <thead>
            <tr>
              <th><span class="">{{ 'SUPPLIER' | translate}}</span>
                <h3 class="text-black">{{oSupplier.businessPartnerName}}</h3>
              </th>
              <th class="w-150px"><span class="">{{"QUANTITY" | translate}}</span>
                <h4 class="text-black">{{oSupplier.quantity}}</h4>
              </th>
              <th class="w-150px"><span class="">{{"PRICE_WITH_VAT" | translate}}</span>
                <h4 class="text-black">{{oSupplier.totalRevenue}}</h4>
              </th>
              <th class="w-150px"><span class="">{{"PURCHASE_PRICE" | translate}}</span>
                <h4 class="text-black">{{oSupplier.totalPurchaseAmount}}</h4>
              </th>
              <th class="w-150px"><span class="">{{"GROSS_PROFIT" | translate}}</span>
                <h4 class="text-black">{{oSupplier.profit}}</h4>
              </th>
              <th class="w-150px"><span class="">{{"MARGIN" | translate}}</span>
                <h4 class="text-black">{{oSupplier.margin}}</h4>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td colspan="6" class="p-2">
                <table class="table table-row-bordered table-row-gray-300 gy-5 gs-5 mb-0 text-gray-600 fw-bold border"
                  *ngFor="let oArticleGroup of oSupplier.articleGroups; let articleGroupIndex = index">
                  <thead class="bg-gray-100">
                    <tr class="fw-bold fs-6 text-gray-800">
                      <th scope="col">{{oArticleGroup.name}}</th>
                      <th scope="col" class="w-150px">{{oArticleGroup.quantity}}</th>
                      <th scope="col" class="w-150px">{{oArticleGroup.totalRevenue}}</th>
                      <th scope="col" class="w-150px">{{oArticleGroup.totalPurchaseAmount}}</th>
                      <th scope="col" class="w-150px">{{oArticleGroup.profit}}</th>
                      <th scope="col" class="w-150px">{{oArticleGroup.margin}}</th>
                    </tr>
                  </thead>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="sDisplayMethod == 'revenuePerArticleGroupAndProperty'">
    <p>revenuePerArticleGroupAndProperty</p>
    <div class="card-body">
      <div class="table-responsive" *ngFor="let oStatistic of aStatistic; let i = index">
        <table class="table table-row-bordered table-row-gray-300 gy-5 gs-5 mb-0 text-gray-600 fw-bold border"
          *ngFor="let oArticleGroup of oStatistic.individual; let articleGroupIndex = index">
          <!-- start of articlegroup -->
          <thead class="bg-gray-100">
            <tr class="fw-bold fs-6 text-gray-800">
              <th scope="col">{{oArticleGroup._id}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.quantity}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.totalRevenue}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.totalPurchaseAmount}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.profit}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.margin}}</th>
            </tr>
          </thead>
          <tbody class="p-2"
            *ngFor="let oRevenueByProperty of oArticleGroup.revenueByProperty; let revenuePropertyIndex = index">
            <!--start of dyamic property -->
            <tr>
              <td class="ps-9">{{oRevenueByProperty.category}}</td>
              <td>{{oRevenueByProperty.quantity}}</td>
              <td>{{oRevenueByProperty.totalRevenue}}</td>
              <td>{{oRevenueByProperty.totalPurchaseAmount}}</td>
              <td>{{oRevenueByProperty.profit}}</td>
              <td>{{oRevenueByProperty.margin}}</td>
            </tr>
          </tbody>
          <!-- start of articlegroup -->
        </table>

      </div>
    </div>
  </div>

  <div class="card" *ngIf="sDisplayMethod == 'revenuePerProperty'">
    <p>Table no 1 revenuePerProperty</p>

    <div class="card-body">
      <div class="table-responsive" *ngFor="let oStatistic of aStatistic; let i = index">
        <table class="table table-row-bordered table-row-gray-300 gy-5 gs-5 mb-0 text-gray-600 fw-bold border"
          *ngFor="let oRevenueByProperty of oStatistic.individual; let articleGroupIndex = index">
          <!-- start of article-group -->
          <thead class="bg-gray-100">
            <tr class="fw-bold fs-6 text-gray-800">
              <th scope="col">{{oRevenueByProperty.category}}</th>
              <th scope="col" class="w-150px">{{oRevenueByProperty.propertyName}}</th>
              <th scope="col" class="w-150px">{{oRevenueByProperty.totalRevenue}}</th>
              <th scope="col" class="w-150px">{{oRevenueByProperty.totalPurchaseAmount}}</th>
              <th scope="col" class="w-150px">{{oRevenueByProperty.profit}}</th>
              <th scope="col" class="w-150px">{{oRevenueByProperty.margin}}</th>
            </tr>
          </thead>
        </table>

      </div>
    </div>
  </div>

  <div class="card" *ngIf="sDisplayMethod == 'revenuePerArticleGroup'">
    <p>Table No 5 revenuePerArticleGroup</p>
    <div class="card-body">
      <div class="table-responsive" *ngFor="let oStatistic of aStatistic; let i = index">
        <table class="table table-row-bordered table-row-gray-300 gy-5 gs-5 mb-0 text-gray-600 fw-bold border"
          *ngFor="let oArticleGroup of oStatistic.individual; let articleGroupIndex = index">
          <!-- start of articlegroup -->
          <thead class="bg-gray-100">
            <tr class="fw-bold fs-6 text-gray-800">
              <th scope="col">{{oArticleGroup._id}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.quantity}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.totalRevenue}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.totalPurchaseAmount}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.profit}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.margin}}</th>
            </tr>
          </thead>
          <!-- start of articlegroup -->
        </table>

      </div>
    </div>
  </div>

  <div class="card">
    <p>Table No 6 Payment Method(will always show)</p>
    <div class="card-body">
      <div class="table-responsive" *ngFor="let oStatistic of aStatistic; let i = index">
        <table class="table table-row-bordered table-row-gray-300 gy-5 gs-5 mb-0 text-gray-600 fw-bold border"
          *ngFor="let oArticleGroup of oStatistic.individual; let articleGroupIndex = index">
          <!-- start of articlegroup -->
          <thead class="bg-gray-100">
            <tr class="fw-bold fs-6 text-gray-800">
              <th scope="col" class="w-150px">{{oArticleGroup.method}}</th>
              <th scope="col">{{oArticleGroup._id}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.quantity}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.total}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.profit}}</th>
              <th scope="col" class="w-150px">{{oArticleGroup.margin}}</th>
            </tr>
          </thead>
          <!-- start of articlegroup -->
        </table>

      </div>
    </div>
  </div>

  <pre>{{aStatistic | json}}</pre>
</div>