<!-- <div class="row">
  <div class="col-11"> -->
<h2 class="accordion-header">
  <button class="accordion-button fs-4 fw-bold" type="button" data-bs-toggle="collapse"
    data-bs-target="#kt_accordion_1_body_1" aria-expanded="true" aria-controls="kt_accordion_1_body_1">
    <section class="row product-row align-items-center w-100">
      <div class="col-12">
        <div class="row">
          <div class="col">
            <svg width="15" height="15" class="m-1">
              <rect width="15" height="15" [ngStyle]="{fill:getColorCode(item)}"
                style="stroke-width:1;stroke:rgb(0,0,0)" />
              Sorry, your browser does not support inline SVG.
            </svg>
            {{item.quantity}}
          </div>
          <div class="col">{{item.name}}</div>
          <div class="col">{{item.price | currency: '€'}}</div>
          <div class="col">{{totalDiscount}}</div>
          <!-- <div class="w-95px">{{item.discount | currency: '€'}}</div> -->
          <div class="col">{{item.tax}}%</div>
          <!-- <div class="col">{{getTotalPrice(item)}}</div> -->
          <div class="col">{{(item.price - item.nDiscount) * item.quantity | currency: '€' }}
          </div>
          <div class="col">{{item.paymentAmount | currency: '€'}}</div>
        </div>
      </div>
    </section>
  </button>
</h2>
<!-- </div>
  <div class="col-1">
    <h5>2</h5>
  </div>
</div> -->
<div id="kt_accordion_1_body_1" class="accordion-collapse collapse show rounded-0"
  aria-labelledby="kt_accordion_1_header_1" data-bs-parent="#kt_accordion_1">
  <div class="accordion-body px-3 py-4">
    <section class="row product-row">
      <div class="col-4">
        <div class="row">

          <div class="col-12">
            <app-dialer [(quantity)]="item.quantity"></app-dialer>
          </div>

          <div class="col-12">
            <div class="form-group mb-4">
              <select name="status" id="status" class="form-control " [(ngModel)]="item.eTransactionItemType"
                (ngModelChange)="changeTypeArray()">
                <option *ngFor="let type of typeArray" [ngValue]="type">{{type}}</option>
              </select>
            </div>
          </div>

          <div class="col-12" *ngIf="item.eTransactionItemType === 'return'">
            <div class="form-group mb-4">
              <label class="form-control-label mb-3">{{ "BROKEN" | translate}}</label>:
              <input class="form-control  mb-3 mb-lg-0" type="text" name="activityName"
                [(ngModel)]="item.nBrokenProduct" class="form-control" (change)="changeInbrokenAmount(item)">
            </div>
          </div>
        </div>

      </div>

      <div class="col-4">
        <div class="row">
          <!-- NAME  -->
          <div class="col-12">
            <div class="form-group mb-4">
              <label class="form-control-label mb-3">{{ "NAME" | translate}}</label>:
              <input class="form-control  mb-3 mb-lg-0" type="text" name="name" [(ngModel)]="item.name">
            </div>
          </div>
          <!-- ARTICLE_NUMBER -->

          <div class="col-12">
            <div class="form-group mb-4">
              <label class="form-control-label mb-3">{{ "ARTICLE_NUMBER" | translate}}</label>:
              <span class="fs-7 w-100 d-block text-gray-600 mb-1">{{item.sArticleNumber}}</span>
            </div>
          </div>
        </div>
        <!-- DESCRIPTION -->
        <div class="col-12">
          <div class="form-group mb-4">
            <label class="form-control-label mb-3">{{ "DESCRIPTION" | translate}}</label>:
            <textarea class="form-control  mb-3 mb-lg-0" type="text" name="description" lines="10"
              [(ngModel)]="item.description"></textarea>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="row">
          <!-- PRICE -->
          <div class="col-9">
            <div class="form-group mb-4">
              <label class="form-control-label mb-3">{{ "PRICE" | translate}}</label>:
              <input class="form-control  mb-3 mb-lg-0" type="text" name="price" (change)="updatePayments()"
                placeholder="{{ 'PRICE' | translate}}" id="price" [(ngModel)]="item.price">
            </div>
          </div>
          <!-- PERCENTAGE -->
          <div class="col-3">
            <div class="form-group mb-4">
              <label class="form-control-label mb-3"></label>
              <button class="btn btn-icon btn-secondary my-2" (click)="openDiscountDialog()"
                [disabled]="item.oType?.bRefund || item.tType === 'pay'">
                <span class="svg-icon svg-icon-1qx me-0">
                  <i class="fas fa-percent"></i>
                </span>
              </button>
            </div>

          </div>
        </div>
        <div class="row">
          <!-- MORE -->
          <div class="col-12 mb-7">
            <button class="btn btn-bg-light btn-active-color-primary mt-2" type="button" data-bs-toggle="collapse"
              (click)="collapsedBtn = !collapsedBtn" [ngClass]="{'collapsed': collapsedBtn }"
              data-bs-target="#kt_accordion_123" aria-expanded="true" aria-controls="kt_accordion_123">
              More
              <fa-icon *ngIf="!collapsedBtn" [icon]="faArrowDown"></fa-icon>
              <fa-icon *ngIf="collapsedBtn" [icon]="faArrowUp"></fa-icon>
            </button>
          </div>
          <div class="col-12">
            <div id="kt_accordion_123" [ngClass]="{'show': collapsedBtn }" class="accordion-collapse collapse">
              <!-- PREPAYMENT -->
              <div class="row">
                <div class="form-group mb-4">
                  <label class="form-control-label mb-3">{{ "PREPAYMENT" | translate}}</label>:
                  <input class="form-control  mb-3 mb-lg-0" type="text" name="prepayment"
                    placeholder="{{ 'PREPAYMENT' | translate}}" [(ngModel)]="item.paymentAmount">
                </div>
              </div>
              <div class="row" *ngIf="item.nDiscount > 0">
                <div class="form-group mb-4">
                  <label class="form-control-label mb-3">{{ "DISCOUNT" | translate}}</label>:
                  <input class="form-control  mb-3 mb-lg-0" type="text" name="discount"
                    placeholder="{{ 'DISCOUNT' | translate}}"
                    [value]="item.nDiscount - (item.nRedeemedLoyaltyPoints || 0)" disabled>
                </div>
              </div>
              <div class="row" *ngIf="item.oType.bRefund">
                <div class="form-group mb-4">
                  <label class="form-control-label mb-3">{{ "LOYALTY_POINTS" | translate}}</label>:
                  <span class="fs-7 w-100 d-block text-gray-600 mb-1">{{item.nRedeemedLoyaltyPoints}}</span>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>



    </section>
  </div>
</div>