<div class="card shadow-sm">
    <div class="card-header" style="margin-top: 20px;">
        <h4>{{ 'ADD_EXPENSES' | translate}}</h4>
        <div>
            <a class="cancel my-auto" (click)="close(false)">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div>
        <form [formGroup]="expenseForm" (ngSubmit)="submit(); submitted = true">
            <div class="card-body">
                
                <div class="row mb-5">
                    <label>{{ "AMOUNT" | translate}}</label>
                    <input type="number" class="form-control" formControlName="amount">
                    <div *ngIf="submitted && f.amount.errors">
                        <span class="text-danger">{{"AMOUNT_SHOULD_BE_GREATER_THAN" | translate}} €1.</span>
                    </div>
                </div>
                
                <div class="row mb-5">
                    <label>{{ "TAX" | translate}}</label>
                    <ng-select class="" formControlName="tax" [clearable]="false">
                        <ng-option *ngFor="let option of taxes" [value]="option.nRate">{{option.sName}} - {{option.nRate}}%
                        </ng-option>
                    </ng-select>
                </div>
                
                <div class="row mb-5">
                    <label>{{ "LEDGER_NUMBER_DESCRIPTION" | translate}}</label>
                    <ng-select class="" formControlName="expenseType" [clearable]="false">
                        <ng-option *ngFor="let option of ledgerDescriptions" [value]="option">{{option.title| titlecase}}
                        </ng-option>
                    </ng-select>
                </div>

                <div *ngIf="submitted && f.expenseType.errors">
                    <span class="text-danger">{{ "LEDGER_NUMBER_DESCRIPTION" | translate}} {{ "REQUIRED" |
                        translate}}.</span>
                </div>

                <div class="row mb-5">
                    <label>{{ "DESCRIPTION" | translate}}</label>
                    <textarea class="form-control " placeholder="{{ 'DESCRIPTION' | translate}}"
                    lines="10" formControlName="description"></textarea>
                    <div *ngIf="submitted && f.description.errors">
                        <span class="text-danger">{{"DESCRIPTION_IS_REQUIRED"}}.</span>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit" [disabled]="!expenseForm.valid || bLoading">{{"SUBMIT" |
                    translate}}</button>
                    <div *ngIf="bLoading" class="spinner-border mx-3"></div>
            </div>
        </form>
    </div>
</div>
