<div class="card shadow-sm">
    <div class="card-header align-items-center py-5">
        <h4 class="card-title" *ngIf="mode === 'create'">{{"NEW_CUSTOMER" | translate}}</h4>
        <h4 class="card-title" *ngIf="mode === 'details'">{{"CUSTOMER_DETAILS" | translate}}</h4>
        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            <button class="btn btn-primary" (click)="EditOrCreateCustomer()">{{"SAVE" | translate}}</button>
            <button type="button" class="btn btn-secondary" (click)="close(false)">
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </div>
    </div>
    <div class="card-body">
        <h2 class="fw-bolder mb-0">
            <span>{{ customer.sSalutation }} {{ customer.sFirstname }} {{ customer.sLastName }}</span>
<!-- 'PHONE_MOBILE'
'PHONE_LANDLINE'
'USE_FOR_WHATSAPP'
'RECEIVE_NEWSLETTER'
'MORE_DETAILS'
'GENDER'
"MALE"
"FEMALE"
"OTHER"
'INVOICE_ADDRESS'
'COPY_TO_SHIPPING_ADDRESS'
'STREET'
'HOUSE_NUMBER'
'HOUSE_NUMBER_SUFFIX'
'PSOTAL_CODE'
'CITY'
'COUNTRY'
'SHIPPING_ADDRESS'
'STREET'
'HOUSE_NUMBER'
'HOUSE_NUMBER_SUFFIX'
'POSTAL_CODE'
'CITY'
'COUNTRY'
'NOTES'
'DATE_OF_BIRTH'
'DOCUMENT_NAME'
'DOCUMENT_NUMBER'
'COMPANY_DETAILS'
'COMPANY_NAME'
'PAYMENT_TERM_IN_DAYS'
'VAT_NUMBER'
'COC_NUMBER' -->

<!-- 
customer.sFirstName
customer.sPrefix
customer.oPhone.sMobile
customer.oPhone.sLandLine
customer.oPhone.bWhatsApp
customer.bNewsletter
customer.sGender
customer.oInvoiceAddress.street
customer.oInvoiceAddress.houseNumber
customer.oInvoiceAddress.addition
customer.oInvoiceAddress.postalCode
customer.oInvoiceAddress.city
customer.oInvoiceAddress.country"
customer.oShippingAddress.street
customer.oShippingAddress.houseNumber
customer.oShippingAddress.addition
customer.oShippingAddress.postalCode
customer.oShippingAddress.city
customer.oShippingAddress.country
customer.oIdentity.documentName
customer.oIdentity.documentNumber
customer.sCompanyName
customer.nPaymentTermDays
customer.sVatNumber
customer.sCocNumber -->
        </h2>
        <p *ngIf="customer.note" class="text-gray-800 text-italic">{{customer.note}}</p>
        <div class="d-flex flex-wrap py-5">
            <div class="flex-equal me-5">
                <table class="table table-flush fw-bold gy-1">
                    <tr><td class="text-muted min-w-175px w-175px">{{'EMAIL' | translate}}</td>
                        <td>
                            <a href="mailto:{{customer.sEmail}}" class="text-gray-800 text-hover-primary">{{customer.sEmail}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-muted min-w-175px w-175px">{{'PHONE_MOBILE' | translate}}</td>
                        <td class="text-gray-800">
                            <span>{{customer.oPhone.sMobile}}
                                <i class="fab fa-whatsapp ms-1" *ngIf="customer.oPhone.bWhatsApp" style="color: #1CB39B;"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-muted min-w-175px w-175px">{{'PHONE_LANDLINE' | translate}}</td>
                        <td class="text-gray-800">
                            <span>{{ customer.oPhone.sLandLine }}</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-muted min-w-175px w-175px">{{'RECEIVE_NEWSLETTER' | translate}}</td>
                        <td class="text-gray-800">
                            <div class="svg-icon svg-icon-2 ps-0" *ngIf="customer.bNewsletter">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="svg-icon svg-icon-2 ps-0 text-warning" *ngIf="!customer.bNewsletter">
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="flex-equal">
                <table class="table table-flush fw-bold gy-1">
                    <tr>
                        <td class="text-muted min-w-125px w-125px">Lorem</td>
                        <td class="text-gray-800">Ipsum</td>
                    </tr>
                    <tr>
                        <td class="text-muted min-w-125px w-125px">Lorem</td>
                        <td class="text-gray-800">Ipsum</td>
                    </tr>
                    <tr>
                        <td class="text-muted min-w-125px w-125px">Lorem</td>
                        <td class="text-gray-800">Ipsum</td>
                    </tr>
                </table>
            </div>
            <div class="flex-equal">
                <table class="table table-flush fw-bold gy-1">
                    <tr>
                        <td class="text-muted min-w-125px w-125px">Lorem</td>
                        <td class="text-gray-800">Ipsum</td>
                    </tr>
                    <tr>
                        <td class="text-muted min-w-125px w-125px">Lorem</td>
                        <td class="text-gray-800">Ipsum</td>
                    </tr>
                    <tr>
                        <td class="text-muted min-w-125px w-125px">Lorem</td>
                        <td class="text-gray-800">Ipsum</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row my-3">
            <div class="d-flex flex-row-fluid justify-content-end gap-5">
                <button class="btn btn-secondary" (click)="editProfile = !editProfile"><span>{{'MORE_DETAILS' | translate}}</span></button>
                <button class="btn btn-secondary" (click)="showStatistics = !showStatistics"><span>{{'STATISTICS' | translate}}</span></button>
            </div>
        </div>
    </div>
    <div class="card-footer" *ngIf="mode === 'details' && showStatistics">
        <div class="row">
            <div class="col-md-4">
                <h3 class="fw-bolder">{{"TURNOVER" | translate}}</h3>
            </div>
            <div class="col-md-4">
                <h3 class="fw-bolder">{{"RECENT_SALES" | translate}}</h3>
            </div>
            <div class="col-md-4">
                <h3 class="fw-bolder">{{"RECENT_SERVICES" | translate}}</h3>
            </div>
        </div>
    </div>
    <div class="card-footer" *ngIf="mode === 'create' || (mode === 'details' && editProfile)">
        <div class="row">
            <div class="col-8">
                <div class="row mb-3">
                    <div class="col-md-2">
                        <ng-select  [(ngModel)]="customer.sSalutation" id="sSalutation" [clearable]="false">
                            <ng-option *ngFor="let salutation of salutations" [value]="salutation">{{salutation}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <input class="form-control" id="sFirstName" placeholder="{{'MALE' | translate}}" [(ngModel)]="customer.sFirstName"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <input class="form-control" id="sPrefix" placeholder="{{'INSERT' | translate}}" [(ngModel)]="customer.sPrefix"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div><input class="form-control" id="sLastName" placeholder="{{'LAST_NAME' | translate}}" [(ngModel)]="customer.sLastName" required/></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <input class="form-control" id="sEmail" placeholder="{{'EMAIL' | translate}}" [(ngModel)]="customer.sEmail"/>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <input class="form-control" id="sMobile" placeholder="{{'PHONE_MOBILE' | translate}}" [(ngModel)]="customer.oPhone.sMobile"/>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">

                    <div class="col-md-4">
                        <input class="form-control" id="sLandLine" placeholder="{{'PHONE_LANDLINE' | translate}}" [(ngModel)]="customer.oPhone.sLandLine"/>
                    </div>
                    <div class="d-flex col-md-4">
                        <label class="form-check form-switch form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="customer.oPhone.bWhatsApp"/>
                            <span class="form-check-label fw-bold">{{'USE_FOR_WHATSAPP' | translate}}</span>
                        </label>
                    </div>
                    <div class="d-flex col-md-4">
                        <label class="form-check form-switch form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="customer.bNewsletter"/>
                            <span class="form-check-label fw-bold">{{'RECEIVE_NEWSLETTER' | translate}}</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="sGender">{{'GENDER' | translate}}</label>
                        <div class="row g-9 mb-3" id="sGender" data-kt-buttons="true" data-kt-buttons-target="[data-kt-button]">
                            <div class="col-md-4 col-lg-12 col-xxl-4">
                                <label
                                    class="btn btn-outline btn-outline-dashed btn-outline-default active d-flex text-start p-3"
                                    data-kt-button="true" [ngClass]="{'active': customer.sGender === 'male'}">
                                    <span
                                        class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                        <input class="form-check-input" type="radio" name="eGender" value="male"
                                            [(ngModel)]="customer.sGender" />
                                    </span>
                                    <span class="ms-5">
                                        <span class="fs-6 fw-bolder mb-1 d-block">{{"MALE" | translate}}</span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-md-4 col-lg-12 col-xxl-4">
                                <label
                                    class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-3"
                                    data-kt-button="true" [ngClass]="{'active': customer.sGender === 'female'}">
                                    <span
                                        class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                        <input class="form-check-input" type="radio" name="eGender" value="female"
                                            [(ngModel)]="customer.sGender" />
                                    </span>
                                    <span class="ms-5">
                                        <span class="fs-6 fw-bolder mb-1 d-block">{{"FEMALE" | translate}}</span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-md-4 col-lg-12 col-xxl-4">
                                <label
                                    class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-3"
                                    data-kt-button="true" [ngClass]="{'active': customer.sGender === 'other'}">
                                    <span
                                        class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                        <input class="form-check-input" type="radio" name="eGender" value="other"
                                            [(ngModel)]="customer.sGender" />
                                    </span>
                                    <span class="ms-5">
                                        <span class="fs-6 fw-bolder mb-1 d-block">{{"OTHER" | translate}}</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-6">
                        <div class="d-flex justify-content-between align-items-center mb-6">
                            <h3>{{'INVOICE_ADDRESS' | translate}}</h3>
                            <div>
                                <button class="btn btn-sm btn-secondary">{{'COPY_TO_SHIPPING_ADDRESS' | translate}}</button>
                                <mark>todo: make this button copy all invoice details to shipping details</mark>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-7">
                                <input class="form-control" placeholder="{{'STREET' | translate}}" [(ngModel)]="customer.oInvoiceAddress.street"/>
                            </div>

                            <div class="col-md-3">
                                <input class="form-control" placeholder="{{'HOUSE_NUMBER' | translate}}" [(ngModel)]="customer.oInvoiceAddress.houseNumber"/>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" placeholder="{{'HOUSE_NUMBER_SUFFIX' | translate}}" [(ngModel)]="customer.oInvoiceAddress.addition"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <input class="form-control" placeholder="{{'PSOTAL_CODE' | translate}}" [(ngModel)]="customer.oInvoiceAddress.postalCode"/>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" placeholder="{{'CITY' | translate}}" [(ngModel)]="customer.oInvoiceAddress.city"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div>
                                <label class="required" for="country">{{'COUNTRY' | translate}}</label>
                                <country-list id="country" [country]="customer.oInvoiceAddress.country" [(ngModel)]="customer.oInvoiceAddress.country" (customerCountryChanged)="customerCountryChanged('oInvoiceAddress', $event)" name="country"></country-list>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 mt-6">
                        <h3>{{'SHIPPING_ADDRESS' | translate}}</h3>
                    
                        <div class="row mb-3">
                            <div class="col-md-7">
                                <input class="form-control" placeholder="{{'STREET' | translate}}" [(ngModel)]="customer.oShippingAddress.street"/>
                            </div>

                            <div class="col-md-3">
                                <input class="form-control" placeholder="{{'HOUSE_NUMBER' | translate}}" [(ngModel)]="customer.oShippingAddress.houseNumber"/>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" placeholder="{{'HOUSE_NUMBER_SUFFIX' | translate}}" [(ngModel)]="customer.oShippingAddress.addition"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <input class="form-control" placeholder="{{'POSTAL_CODE' | translate}}" [(ngModel)]="customer.oShippingAddress.postalCode"/>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" placeholder="{{'CITY' | translate}}" [(ngModel)]="customer.oShippingAddress.city"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div>
                                <label class="required" for="s_country">{{'COUNTRY' | translate}}</label>
                                <country-list id="s_country" [country]="customer.oShippingAddress.country" [(ngModel)]="customer.oShippingAddress.country" (customerCountryChanged)="customerCountryChanged('oInvoiceAddress', $event)" name="country"></country-list>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
                
            <div class="col-4">
                <div class="mb-3">
                    <label for="note">{{'NOTES' | translate}}</label>
                    <textarea name="note" id="note" cols="30" rows="6" class="form-control" [(ngModel)]="customer.note"></textarea>
                </div>
                <div class="mb-6">
                    <label for="dDateOfBirth">{{'DATE_OF_BIRTH' | translate}}</label>
                    <div class="input-group date" id="dDateOfBirth" data-target-input="nearest">
                        <input type="date" class="form-control datetimepicker-input" [ngModel]="customer.dDateOfBirth | date:'yyyy-MM-dd'" (ngModelChange)="customer.dDateOfBirth = $event"/>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="documentName">{{'DOCUMENT_NAME' | translate}}</label>
                    <ng-select id="documentName"  [(ngModel)]="customer.oIdentity.documentName" [clearable]="false">
                        <ng-option *ngFor="let type of documentTypes" [value]="type">{{type}}</ng-option>
                    </ng-select>
                </div>
                <div class="mb-6">
                    <input class="form-control" placeholder="{{'DOCUMENT_NUMBER' | translate}}" [(ngModel)]="customer.oIdentity.documentNumber"/>
                </div>

                <h3>{{'COMPANY_DETAILS' | translate}}</h3>

                <div class="mb-3">
                    <label for="sCompanyName">{{'COMPANY_NAME' | translate}}</label>
                    <input class="form-control mb-6" id="sCompanyName" [(ngModel)]="customer.sCompanyName"/>
                </div>
               
               
                <div class="mb-3">
                    <label for="nPaymentTermDays">{{'PAYMENT_TERM_IN_DAYS' | translate}}</label>
                    <input class="form-control" id="nPaymentTermDays" [(ngModel)]="customer.nPaymentTermDays"/>
                </div>

                <div class="mb-3">
                    <label for="sVatNumber">{{'VAT_NUMBER' | translate}}</label>
                    <input class="form-control" [(ngModel)]="customer.sVatNumber"/>
                </div>

                <div class="mb-3">
                    <label for="sCocNumber">{{'COC_NUMBER' | translate}}</label>
                    <input class="form-control" [(ngModel)]="customer.sCocNumber"/>
                </div>
            </div>
        </div>
    </div>
</div>
