<div class="container">
<div class="row">
    <!-- top row, add customer, parked transactions -->
    <div class="d-flex flex-row-auto column-auto">
      <div class="d-flex flex-row-auto w-200px">
        <button class="btn btn-lg btn-outline btn-outline-dashed btn-outline-default p-6 me-5">
          <fa-icon icon="user-plus" class="fa-lg"></fa-icon>
          <h4 class="fs-6 mt-3 text-gray-600">{{"CUSTOMER" | translate}}</h4>
        </button>
      </div>
      <div class="d-flex flex-row flex-row-fluid">

        <div class="col-10">
          <div class="p-inputgroup">
            <p-dropdown class="p-inputtext-lg"
              [options]="parkedTransactions"
              [virtualScroll]="true"
              [itemSize]="30"
              [autoDisplayFirst]="false"
              [(ngModel)]="selectedTransaction"
              optionLabel="sNumber"
              [filter]="false">
            </p-dropdown>
            <button pButton class="btn btn-primary p-button-lg">Park</button>
          </div>

          </div>
        </div>




      </div>
    </div>

</div>

