#till-items-accordion .accordion-item,
.accordion-item .accordion-button {
	border-radius: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}

.container {
	display: grid;
}

.content,
.overlay {
	grid-area: 1 / 1;
}