.till-container
  margin-top: -30px

.till-card-body
  padding: 0.5rem 0.75rem

.till-padding
  padding-top: 10px
  padding-left: 0
  padding-right: 0

.till-table-card
  padding: 0
  .card-body
    padding: 0
    margin: 0
  table
    margin: 0
    td,th
      padding-left: 15px

.till-quick-button
  margin-top: 10px
  margin-right: 10px

.till-save-button
  width: 100%
  margin-top: 10px

.till-payment-option
  margin-top: 10px
