<div class="container">
  <div class="row">
    <div class="d-flex flex-row flex-column-fluid flex-center">
        <div class="d-flex flex-row-auto mw-100">
            <button *ngIf="!customer" class="btn btn-lg btn-outline btn-outline-dashed btn-outline-default me-5"
                    (click)="addCustomer()">
              <fa-icon icon="user-plus" class="fa-lg"></fa-icon>
              <h4 class="fs-6 mt-3 text-gray-600">{{"CUSTOMER" | translate}}</h4>
            </button>
            <div *ngIf="customer" class="card shadow-sm">
              <div class="card-header">
                <h3 class="card-title p-0 m-0">
                  {{ "CUSTOMER" | translate}}
                </h3>
                <div class="card-toolbar">
                  <button type="button" class="btn btn-sm btn-light" (click)="removeCustomer()">
                    {{ "REMOVE" | translate}}
                  </button>
                </div>
              </div>
              <div class="card-body">
                <p>
                  ({{customer.number}}) {{customer.name}}
                  <br>
                  {{customer.address.street}} {{customer.address.number}}
                  <br>
                  {{customer.address.zip}} {{customer.address.city}}
                  <br>
                  {{customer.email}}
                </p>
              </div>
            </div>
        </div>
      <div class="d-flex flex-row flex-column-fluid mw-100">
            <div class="input-group mb-5">
              <button class="btn btn-primary">{{ selectedTransaction ? "SAVE" : "PARK" | translate}}</button>
              <div class="form-floating">
                <select name="parkedTransactions" id="parkedTransactions" class="form-select" [(ngModel)]="selectedTransaction">
                  <option [ngValue]="null"></option>
                  <option *ngFor="let transaction of parkedTransactions" [ngValue]="transaction">{{transaction.sNumber}}</option>
                </select>
                <label for="parkedTransactions">{{"PARKED_TRANSACTIONS" | translate}}</label>
              </div>

              <button class="btn btn-primary" (click)="clearTransaction()" *ngIf="selectedTransaction">
                <fa-icon icon="times-circle"></fa-icon>
              </button>
              <button class="btn btn-primary" *ngIf="selectedTransaction">
                <fa-icon icon="trash-alt"></fa-icon>
              </button>
            </div>
      </div>
    </div>
  </div>
</div>

