<div class="card">
    <div class="card-header row" style="margin-top: 20px;">
        <div class="col-md-10">
            <h4 *ngIf="mode === 'create'">{{ 'CREATE FAVOURITE'}}</h4>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control me-3" placeholder="Search..." [(ngModel)]="searchKeyword"
                    (ngModelChange)="searchKeyword? shopProducts = shopProducts: shopProducts = []"
                    (keyup.enter)="search()">
            </div>
        </div>
        <div>
            <div class="row" *ngIf="shopProducts && shopProducts.length > 0">
                <div class="col-md-6 cursor-pointer" *ngFor="let product of shopProducts"
                    (mouseenter)="product['showOption'] = true" (mouseleave)="product['showOption'] = false">
                    <div class="card m-1 shadow-sm">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="w-50 p-2">
                                    <img src="{{product.aImage[0]? product.aImage[0]: '../assets/images/no-photo-available.jpg' }}"
                                        class="w-auto h-xxl-100px">
                                </div>
                                <div class="w-50 px-2">
                                    <label class="business-bg-color rounded-full px-2 py-1 text-white text-sm">Business
                                        product</label>
                                    <p class="block mt-2">{{ product.oName? product.oName['en'] : 'No name' }}</p>
                                    <p class="mt-2">{{ product.sEan }}</p>
                                    <p class="mt-2">{{ product.sProductNumber }}</p>
                                </div>
                            </div>
                            <div class="absolute hover-product-option mt-n6" *ngIf="product['showOption']">
                                <div class="d-flex">
                                    <button class="btn btn-secondary w-50 mr-2 p-0"
                                        (click)="onSelectProduct(product, 'business', 'same-article')">
                                        Select
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr *ngIf="commonProducts && commonProducts.length > 0">
            <div class="row" *ngIf="commonProducts && commonProducts.length > 0">
                <div class="col-md-6 cursor-pointer" *ngFor="let product of commonProducts"
                    (mouseenter)="product['showOption'] = true" (mouseleave)="product['showOption'] = false">
                    <div class="card m-1 shadow-sm">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="w-50 p-2">
                                    <img src="{{product.aImage[0]? product.aImage[0]: '../assets/images/no-photo-available.jpg' }}"
                                        class="w-auto h-xxl-100px">
                                </div>
                                <div class="w-50 px-2">
                                    <label class="business-bg-color rounded-full px-2 py-1 text-white text-sm">Business
                                        product</label>
                                    <span>
                                        <fa-icon icon="copy" aria-label="copy-article-number" class="ml-4"></fa-icon>
                                    </span>
                                    <p class="block mt-2">{{ product.oName? product.oName['en'] : 'No name' }}</p>
                                    <p class="mt-2">{{ product.sEan }}</p>
                                    <p class="mt-2">{{ product.sProductNumber }}</p>
                                </div>
                            </div>
                            <div class="absolute hover-product-option mt-n6" *ngIf="product['showOption']">
                                <div class="d-flex">
                                    <button class="btn btn-secondary w-50 mr-2 p-0"
                                        (click)="onSelectProduct(product, 'business', 'same-article')">
                                        Add this article
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-6">
                <div class="d-flex flex-column">
                    <h4>Image</h4>
                    <img src="{{newSelectedProduct.image? newSelectedProduct.image: '../../../../../../assets/images/no-photo-available.jpg' }}"
                        class="w-auto h-xxl-100px">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mb-5">
                    <label>Product Name</label>
                    <input type="text" class="form-control" placeholder="Enter name (alias)"
                        [(ngModel)]="newSelectedProduct.name">
                </div>
                <div class="row mb-5">
                    <label>Price</label>
                    <input type="text" class="form-control" placeholder="Enter price"
                        [(ngModel)]="newSelectedProduct.price">
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer row">
        <div class="col-md-10">
            <button *ngIf="mode === 'create'" class="btn btn-primary" (click)="create()">{{ 'CREATE'}}</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-secondary" (click)="close(false)">{{ 'CLOSE' }}</button>
        </div>
    </div>
</div>