.cursor-not-allowed {
    cursor: not-allowed;
}
.form-check-custom{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
a.cancel{
    cursor: pointer;
    color:#a63b55;
}
.custom-overflow{
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}