<div class="card">
  <div class="card-header" style="margin-top: 20px;">
    <h4>{{ 'CREATE_NEW_PRINT_SETTING' | translate}}</h4>
    <div>
      <button type="button" class="btn btn-sm btn-light" (click)="close(false)">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
  </div>
  <div class="card-body p-9">
    <div class="row">
      <div class="col-9">

        <div class="json-editor">
          <app-json-editor #jsonEditor></app-json-editor>
        </div>
      </div>
      <div class="col-3">

      </div>
    </div>

  </div>
  <div class="card-footer d-flex justify-content-end">
    <button class="btn btn-primary" type="submit" (click)="saveLabelTemplate()">{{ 'SAVE' | translate}}</button>
  </div>
</div>