<div class="card shadow-sm">
  <div class="card-header" style="margin-top: 20px;">
      <h4>FIND CUSTOMER</h4>
       <div>
          <button type="button" class="btn btn-sm btn-light" (click)="close()">
              <fa-icon [icon]="faTimes"></fa-icon>
          </button>
       </div>
  </div>
  <div class="card-body row">
    <div class="d-flex align-items-center">
        <div class="position-relative w-md-400px me-md-2" style="margin-bottom: 10px;">
          <fa-icon [icon]="faSearch" class="text-gray-500 position-absolute top-50 translate-middle ms-6"></fa-icon>
          <input type="text" class="form-control form-control-solid ps-10" [(ngModel)]="requestParams.searchValue" name="search" value="" placeholder="Search" />
        </div>
        <div class="d-flex align-items-center">
          <button type="submit" class="btn btn-primary me-5">Search</button>
        </div>
    </div>
  </div>
  <div class="card-footer row">
    <div class="col-md-11">
      <button type="button" class="btn btn-secondary" (click)="close()">Add customer</button>
    </div>
     <div class="col-md-1">
      <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
     </div>
  </div>
</div>
