<div class="card mb-5 mb-xl-10 d-flex">
  <div class="card-header row">
    <div class="card-title">
      <div class="col-md-9">
        <span>{{ 'CASH_REGISTER' | translate}}</span>
      </div>
    </div>
  </div>
  <div class="card-body row">
    <!-- <div class="col-md-3 row"> -->
      <div class="col-md-2">
        <label class="form-check form-switch form-check-custom form-check-solid">Book Keeping mode:</label>
      </div>
      <div class="col-md-1">
        <label class="form-check form-switch form-check-custom form-check-solid">
          <input type="checkbox" class="form-check-input" [(ngModel)]="bookKeepingMode" (click)="bookKeepingMode = !bookKeepingMode; updateBookkeepingSetting(bookKeepingMode)">
        </label>
      </div>
    <!-- </div> -->
  </div>
  <div class="card-body p-9">
    <div class="card-title fw-bold row">
      <div class="col-md-10">
        <span class="fw-bold">
          <h3>Custom payment methods</h3>
        </span>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" (click)="createPaymentMethod()">new</button>
      </div>
    </div>
    <div *ngIf="payMethods.length" class="dataTables_wrapper dt-bootstrap4 no-footer">
      <div class="table-responsive">
          <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
            <thead class="fw-bold">
              <tr>
                <div class="row">
                  <div class="col-md-8 fw-bold">
                    <span>Name</span>
                  </div>
                  <div class="col-md-3">
                    <span *ngIf="bookKeepingMode">Ledger number</span>
                  </div>
                  <div class="col-md-1">
                    <span>Delete</span>
                  </div>
                </div>
              </tr>
            </thead>
            <tbody class="fw-bold">
                <tr *ngFor="let method of payMethods">
                  <div class="row">
                    <div class="col-md-8" (click)="viewDetails(method)">
                      <label (click)="viewDetails(method)">{{method.sName}}</label>
                    </div>
                    <div class="col-md-3">
                      <input type="number" *ngIf="bookKeepingMode" class="form-control" [(ngModel)]="method.sLedgerNumber" class="form-control" (focusout)="updateLedgerNumber(method)"/>
                    </div>
                    <div class="col-md-1 text-gray-500" (click)="deleteMethod(method)">
                      <fa-icon icon="trash"></fa-icon>
                    </div>
                  </div>
                </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="d-flex">
      <h5 *ngIf='!payMethods.length && !payMethodsLoading'> No data found!</h5>
      <div *ngIf="payMethodsLoading" class="spinner-border mx-auto"></div>
  </div>  
  </div>
</div>
<div class="card" *ngIf="bookKeepingMode">
  <div class="card-header row mt-4">
      <div class="col-md-4">
          <div class="d-flex align-items-center position-relative my-2">
              <span class="svg-icon svg-icon-4 position-absolute ms-4">
                  <fa-icon icon="search"></fa-icon>
              </span>
              <input type="text" class="form-control form-control-solid w-250px ps-14" (value)="searchValue" [(ngModel)]="searchValue" (change)="getGeneralLedgerNumber()" placeholder="SEARCH">
              <button class="btn btn-primary ms-xl-1" title="{{'RELOAD_THIS_PAGE' | translate}}">
                  <fa-icon icon="sync"></fa-icon>
              </button>
          </div>
      </div>
      <div class="col-md-8"></div>
  </div>
  <div class="card-body pt-0">
    <table class="table-fixed w-100">
      <thead>
          <tr>
              <th class="border border-green-100 p-4" *ngFor="let column of overviewColumns"> 
                  <span *ngIf="column.name != 'action'">{{ column.name | translate }}</span>
              </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let column of bookKeepings; let i = index" class="border border-green-100 p-4">
          <td class="border border-green-100 p-4">
            <span>{{column.sDescription}}</span>
          </td>
          <td class="border border-green-100 p-4">
            <input type="number" *ngIf="bookKeepingMode" class="form-control" [(ngModel)]="column.nNumber" class="form-control" (focusout)="updateGeneralLedgerNumber(column)"/>
          </td>
      </tbody>
    </table>
  </div>
  <div class="d-flex">
    <h5 *ngIf='!bookKeepings.length && !loading'> No data found!</h5>
    <div *ngIf="loading" class="spinner-border mx-auto"></div>
  </div>
</div>