<p>service works!</p>

<pre>
	<code>

		# User stories for repairs 
		# Work in progress!

		As a retailer, I want to search for a specific repair by transaction number
		As a retailer, I want to search for a specific repair by repair bag number
		As a retailer, I want to search for a specific repair by customer name
		As a retailer, I want to search for a specific repair by public comment field
		As a retailer, I want to search for a specific repair by internal comment field

		As a retailer, I want to view all repairs that have been created today
		As a retailer, I want to view all repairs that have been created on a specific date
		As a retailer, I want to view all repairs that have been created within a specific date range

		As a retailer, I want to view all repairs that have E-mail as contact method
		As a retailer, I want to view all repairs that have Phone as contact method
		As a retailer, I want to view all repairs that have WhatsApp as contact method

		As a retailer, I want to view all repairs that should be finished today
		As a retailer, I want to view all repairs that should be finished on a specific date
		As a retailer, I want to view all repairs that should be finished within a specific date range

		As a retailer, I want to view all repairs that are new
		As a retailer, I want to view all repairs that are pending
		As a retailer, I want to view all repairs that are in progress
		As a retailer, I want to view all repairs that are finished

		As a retailer, I want to view all repairs that are ready to be sent to a repairer
		As a retailer, I want to view all repairs that should be sent to a repairer
		As a retailer, I want to view all repairs that are currently sent to a repairer
		As a retailer, I want to view all repairs that have returned from a repairer


		As a retailer, I want to change the public comment of a repair
		As a retailer, I want to change the private comment of a repair
		As a retailer, I want to change the status of a repair
		As a retailer, I want to change the end date of a repair
		As a retailer, I want to change the estimated price of a repair
		As a retailer, I want to change the actual price of a repair
		As a retailer, I want to change the contact method of a repair

		As a retailer, I want to add a payment to a repair

		As a retailer, I want to print a receipt of the repair for the customer
		As a retailer, I want to print a receipt of the repair payment for the customer
		As a retailer, I want to print a receipt of the repair offer for the customer

		As a retailer, I want to download a receipt of the repair for the customer
		As a retailer, I want to download a receipt of the repair payment for the customer
		As a retailer, I want to download a receipt of the repair offer for the customer
		
		As a retailer, I want to create a repair offer

		As a retailer, I want to manually add a log entry
		As a retailer, I want to manually edit a log entry

		As a retailer, I want to send an email to the customer to notify him of a status change
		As a retailer, I want to send an email to the customer to let him know the repair is ready
		As a retailer, I want to send an email to the customer to let him know the repair takes longer
		As a retailer, I want to send an email to the repairer

	</code>
</pre>