#till-items-accordion .accordion-item,
.accordion-item .accordion-button {
	border-radius: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}

.container {
	display: grid;
}

.content,
.overlay {
	grid-area: 1 / 1;
}
.search-button{
	min-width:140px;
}
 
.create-order {
	position: relative;
	border: 1px solid #EFF2F5;
	border-radius: 10px;
	margin-top: 10px;

	.topright {
		position: absolute;
		top: 8px;
		right: 16px;
		font-size: 18px;
	}
}

.overlay-full {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #56acacc4;
	z-index: 9999;
}

.highlight-search:focus {
	box-shadow: 0px 0px 5px 1px #b9b9b9!important;
}

.item-height{
	height:calc(100vh - 250px);
	overflow-y: auto;
}
.payment-section{
	position: relative;

	.fixed-content{
		position: sticky;
		position: -webkit-sticky; /* Safari */
		position: sticky;
		top: 0;
	}

}

.btnclose {
	//height: 30px;
	padding: 9px;
	margin-top:10px;
}


.custom-card{
	padding: 20px !important;
	height: 220px !important;

	&.common-prod{
		height: 220px !important;
	}

	.card-body{
		padding: 0 !important;
		display: flex;
		// align-items: center;
		height: 100%;

		&.custom-flex{
			flex-wrap: wrap;
			.r-content{
				flex: 1;
			}
			.l-content{
				flex: 1;
			}
			.b-content{
				flex: 0 0 100%;
			}
		}
	

		.r-content{
			width: 45%;
			height: 100%;
			margin-right: 15px;

			img{
				width: 100% !important;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
		}

		.l-content{
			width: 55%;

			label{
				width: 100%;
			}

			p{
				margin: 0 !important;
			}

			.prod-name{
				font-weight: 600;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				// margin: 10px 0 !important;
				margin-bottom: 10px !important;
				text-transform: uppercase;
			}

		}

	}

}