<div class="container p-4">
  <div class="card mb-5 mb-xl-10 d-flex" data-kt-scroll-section="print-settings">
    <div class="card-header">
      <h6 class="card-title">{{ 'FIRST_STEP_TO_PRINT' | translate}}</h6>
    </div>
    <div class="card-body">

      <div class="spinner-border mx-auto" *ngIf="bLoading"></div>

      <div *ngIf="!bLoading">
        <div
          *ngIf="businessDetails?.oPrintNode?.nAccountId || oOrganizationSettings?.oPrintNode?.eAllowCreateAccountBy == 'retailer'; else onlyAdmin">
          <div class="row">
            <div class="col-12" *ngIf="!businessDetails?.oPrintNode?.nAccountId">
              <div class="d-flex align-items-center">
                <span>{{ 'I_ACCEPT_TERMS_AND_CONDITIONS' | translate }}</span>
                <label class="toggle mx-2">
                  <input type="checkbox" [(ngModel)]="bAcceptPrintnodeTerms">
                  <span class="slider"></span>
                  <span class="labels" data-on="YES" data-off="NO"></span>
                </label>
              </div>
            </div>

            <div class="col-12">
              <div class="my-2" *ngIf="businessDetails?.oPrintNode?.nAccountId">
                <span>Account ID:</span>
                <span>{{businessDetails?.oPrintNode?.nAccountId}}</span>
              </div>
              <div>
                <!-- <strong class="py-2"> Log in op PrintNode met deze gegevens: </strong> -->
                <div class="credentials p-2 my-3 px-5">
                  <div> Gebruikersnaam: {{businessDetails?.sEmail}}</div>
                  <div>
                    <span>Wachtwoord: </span>
                    <span
                      *ngIf="businessDetails?.oPrintNode?.nAccountId">{{businessDetails?.oPrintNode?.sPassword}}</span>
                  </div>
                  <div>
                    <span>API Key: </span>
                    <span
                      *ngIf="businessDetails?.oPrintNode?.nAccountId">{{businessDetails?.oPrintNode?.sApiKey}}</span>
                  </div>
                </div>

                <button *ngIf="!businessDetails?.oPrintNode?.nAccountId" class="btn btn-primary btn-sm"
                  [disabled]="!bAcceptPrintnodeTerms || bCreating" (click)="registerForPrintNode()">
                  {{ 'REGISTER' | translate }}
                </button>

                <div class="spinner-border mx-2" *ngIf="bCreating"></div>

              </div>
              <div>
                {{"INSTALL_A_HELP_PROGRAM_TO_SET_YOUR_PRINTERS" | translate}} &nbsp;
                <a href="https://support.prismanote.com/portal/nl/kb/articles/printhelper-installeren" target="_blank">
                  <strong>{{"CLICK_HERE_FOR_INSTRUCTIONS" | translate}}</strong>
                </a>
              </div>



            </div>

          </div>
        </div>
      </div>



      <ng-template #onlyAdmin>
        <span>{{ 'PLEASE_CONTACT_YOUR_ADMIN_TO_ENABLE_PRINTNODE_FOR_YOUR_ACCOUNT' | translate }}</span>
      </ng-template>


    </div>

  </div>

  <div class="card mb-5 mb-xl-10 d-flex" data-kt-scroll-section="print-settings-letter-paper">
    <div class="card-header">
      <div class="card-title justify-content-between">

        <div>
          <span>{{"PRINT_SETTINGS_LETTERPAPER" | translate}}</span>
        </div>
        <!-- <div class="">
          <button class="btn btn-primary" (click)="createPrintSettings()"> {{ "NEW" | translate}}</button>
        </div> -->

      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <print-workstation *ngIf="businessDetails?.oPrintNode?.nAccountId" [businessDetails]="businessDetails"
          [iLocationId]="iLocationId">
        </print-workstation>
      </div>
    </div>
  </div>

  <div class="card mb-5 mb-xl-10 d-flex" data-kt-scroll-section="label-definition">
    <div class="card-header">
      <div class="card-title">
        <div class="col-12">
          <span> {{"LABEL" | translate}} {{"DEFINITIONS" | translate}}</span>
        </div>
      </div>
    </div>
    <div class="card-body" *ngIf="oSettings">
      <div class="row mb-4">
        <div class="col-2 d-flex">
          <input type="checkbox" class="form-check form-check-input form-check-custom h-25px w-25px me-2"
            [(ngModel)]="oSettings.bUseZpl" (ngModelChange)="updateSettings()">
          <span>{{'USE_ZPL' | translate}}</span>
        </div>
        <div class="col-2 d-flex">
          <input type="checkbox" class="form-check form-check-input form-check-custom h-25px w-25px me-2"
            [(ngModel)]="oSettings.bUseTspl" (ngModelChange)="updateSettings()">
          <span>{{'USE_TSPL' | translate}}</span>
        </div>
      </div>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation" *ngIf="oSettings.bUseZpl">
          <button class="nav-link active" id="zpl-tab" data-bs-toggle="tab" data-bs-target="#zpl-tab-pane" type="button"
            role="tab" aria-controls="zpl-tab-pane" aria-selected="true">{{'ZPL' | translate}}</button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="oSettings.bUseTspl">
          <button class="nav-link" id="tspl-tab" data-bs-toggle="tab" data-bs-target="#tspl-tab-pane" type="button"
            role="tab" aria-controls="tspl-tab-pane" aria-selected="false">{{'TSPL' | translate}}</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="zpl-tab-pane" role="tabpanel" aria-labelledby="zpl-tab" tabindex="0">
          <div class="row">
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary mx-2" (click)="updateLabelSequence($event)">{{'SAVE_SEQUENCE' |
                translate}}</button>
              <button class="btn btn-primary" (click)="openToolsModal()"> {{ "TOOLS" | translate}}</button>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-12">
              <div class="d-flex flex-column">
                <div class="h5">{{'SHOP' | translate}} {{"LABEL_TEMPLATE" | translate}}</div>
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">

                  <div class="table-responsive">
                    <table class="table table-striped table-rounded table-hover fs-6 gy-5 gs-5 dataTable no-footer">
                      <thead>
                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                          <th class="w-30px sorting" tabindex="0">#</th>
                          <th class="w-240px sorting" tabindex="0">{{ "NAME" | translate}}</th>
                          <th class="sorting" tabindex="0"> {{ "ACTION" | translate}}</th>
                        </tr>
                      </thead>
                      <tbody class="fw-bold text-gray-600">
                        <ng-container *ngIf="!isLoadingTemplatesLabel && businessDetails?._id">
                          <tr *ngFor='let label of aZplTemplates; let i = index'>
                            <td class="text-truncate align-middle">
                              {{i+1}}
                            </td>
                            <td class="w-240px text-truncate align-middle" [title]="label.name || ''">
                              {{label.name || ''}}
                            </td>

                            <td>
                              <div class="d-flex align-items-center">
                                <button (click)="openLabelTemplateModal(label,'edit')"
                                  class="btn btn-icon btn-info btn-sm">
                                  <i class="fa fa-edit"></i>
                                  <!-- {{'EDIT'| translate}} -->
                                </button>

                                <button class="btn btn-icon btn-danger btn-sm mx-2"
                                  (click)="deleteLabelTemplate(label._id)">
                                  <i class="fa fa-trash"></i>
                                </button>

                                <button (click)="printSample(label)" class="btn btn-icon btn-primary btn-sm ">
                                  <i class="fa fa-print"></i>
                                  <!-- {{'PRINT_SAMPLE'| translate}} -->
                                </button>

                                <button (click)="sentToLayout(label)" class="btn btn-light-primary btn-sm mx-2">
                                  {{'SENT_TO_LAYOUT'| translate}}
                                </button>

                                <button *ngIf="label?.bDefault" class="btn btn-secondary btn-sm me-auto">
                                  {{'DEFAULT' | translate}}
                                </button>

                                <button *ngIf="!label?.bDefault" (click)="markDefault(label)"
                                  class="btn btn-primary btn-sm me-auto">
                                  {{'MARK_AS_DEFAULT' | translate}}
                                </button>

                                <button class="btn p-3 hover btn-sm mx-2" (click)="shiftLabelButton('up', i)">
                                  <i class="fa fa-arrow-up"></i>
                                </button>
                                <button class="btn p-3 hover btn-sm mx-2" (click)="shiftLabelButton('down', i)">
                                  <i class="fa fa-arrow-down"></i>
                                </button>

                              </div>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                    <div class="d-flex justify-content-center align-items-center h-100px">
                      <h5 *ngIf='!aZplTemplates?.length && !isLoadingTemplatesLabel'> {{
                        "NO_DATA_FOUND" | translate}}!</h5>
                      <div class="row h-200px" *ngIf="isLoadingTemplatesLabel || !businessDetails?._id">
                        <div class="spinner-box h-200px">
                          <div class="three-quarter-spinner">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                  <span class="h5">{{"DEFAULT_LABEL"|translate}}</span>
                  <button class="btn btn-primary btn-sm" (click)="addDefaultZplTemplate()"><i
                      class="fa fa-plus"></i></button>
                </div>
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">

                  <div class="table-responsive">
                    <table class="table table-striped table-rounded table-hover fs-6 gy-5 gs-5 dataTable no-footer">
                      <thead>
                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                          <th class="mw-100px sorting" tabindex="0">#</th>
                          <th class="mw-100px sorting" tabindex="0">{{ "NAME" | translate}}</th>
                          <th class="mw-100px sorting" tabindex="0">{{ "ACTION" | translate}}</th>
                        </tr>
                      </thead>
                      <tbody class="fw-bold text-gray-600">
                        <tr *ngFor='let label of aDefaultZplTemplates; let i = index'>
                          <td class="mw-100px text-truncate">
                            {{i+1}}
                          </td>
                          <td class="mw-200px text-truncate" [title]="label.name || ''">
                            {{label.name || ''}}
                          </td>
                          <td>
                            <button (click)="openLabelTemplateModal(label,'create')" class="btn btn-primary btn-sm">
                              {{'CREATE'| translate}}
                            </button>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="d-flex justify-content-center align-items-center h-100px">
                      <h5 *ngIf='!aDefaultZplTemplates?.length && !isLoadingDefaultLabel'> {{
                        "NO_DATA_FOUND" | translate}}!</h5>
                      <div class="row h-200px" *ngIf="isLoadingDefaultLabel">
                        <div class="spinner-box h-200px">
                          <div class="three-quarter-spinner">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tspl-tab-pane" role="tabpanel" aria-labelledby="tspl-tab" tabindex="0">
          <div class="row my-3">
            <div class="col-12">
              <div class="d-flex flex-column">
                <div class="h5"> {{ 'SHOP' | translate }} {{ "LABEL_TEMPLATE" | translate }}</div>
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">

                  <div class="table-responsive">
                    <table class="table table-striped table-rounded table-hover fs-6 gy-5 gs-5 dataTable no-footer">
                      <thead>
                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                          <th class="mw-100px sorting" tabindex="0">#</th>
                          <th class="mw-100px sorting" tabindex="0">{{ "NAME" | translate}}</th>
                          <th class="mw-100px sorting" tabindex="0"> {{ "ACTION" | translate}}</th>
                        </tr>
                      </thead>
                      <tbody class="fw-bold text-gray-600">
                        <ng-container *ngIf="!isLoadingTemplatesLabel && businessDetails?._id">
                          <tr *ngFor='let label of aTsplTemplates; let i = index'>
                            <td class="mw-100px text-truncate">
                              {{i+1}}
                            </td>
                            <td class="mw-200px text-truncate" [title]="label.name || ''">
                              {{label.name || ''}}
                            </td>

                            <td>
                              <div class="d-flex">
                                <button (click)="openLabelTemplateModal(label,'edit', 'tspl')"
                                  class="btn btn-primary btn-sm">
                                  <i class="fa fa-edit"> </i>
                                  <!-- {{'EDIT'| translate}} -->
                                </button>

                                <button class="btn btn-icon btn-secondary btn-sm mx-2"
                                  (click)="deleteLabelTemplate(label._id)">
                                  <i class="fa fa-trash"></i>
                                </button>

                                <button (click)="printSample(label, 'tspl')" class="btn btn-primary btn-sm mx-2">
                                  <i class="fa fa-print"> </i>
                                  <!-- {{'PRINT_SAMPLE'| translate}} -->
                                </button>

                                <button (click)="sentToLayout(label, 'tspl')" class="btn btn-primary btn-sm mx-2">
                                  {{'SENT_TO_LAYOUT'| translate}}
                                </button>

                                <button *ngIf="label?.bDefault" class="btn btn-secondary btn-sm mx-2 w-25">
                                  {{'DEFAULT' | translate}}
                                </button>

                                <button *ngIf="!label?.bDefault" (click)="markDefault(label, 'tspl')"
                                  class="btn btn-primary btn-sm mx-2 w-25">
                                  {{'MARK_AS_DEFAULT' | translate}}
                                </button>

                                <button class="btn p-3 hover btn-sm mx-2" (click)="shiftLabelButton('up', i, 'tspl')">
                                  <i class="fa fa-arrow-up"></i>
                                </button>
                                <button class="btn p-3 hover btn-sm mx-2" (click)="shiftLabelButton('down', i, 'tspl')">
                                  <i class="fa fa-arrow-down"></i>
                                </button>

                              </div>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                    <div class="d-flex justify-content-center align-items-center h-100px">
                      <h5 *ngIf='!aTsplTemplates?.length && !isLoadingTemplatesLabel'>
                        {{
                        "NO_DATA_FOUND" | translate}}!</h5>
                      <div class="row h-200px" *ngIf="isLoadingTemplatesLabel || !businessDetails?._id">
                        <div class="spinner-box h-200px">
                          <div class="three-quarter-spinner">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex flex-column">
                <div class="h5">{{"DEFAULT_LABEL"|translate}}</div>
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">

                  <div class="table-responsive">
                    <table class="table table-striped table-rounded table-hover fs-6 gy-5 gs-5 dataTable no-footer">
                      <thead>
                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                          <th class="mw-100px sorting" tabindex="0">#</th>
                          <th class="mw-100px sorting" tabindex="0">{{ "NAME" | translate}}</th>
                          <th class="mw-100px sorting" tabindex="0">{{ "ACTION" | translate}}</th>
                        </tr>
                      </thead>
                      <tbody class="fw-bold text-gray-600">
                        <tr *ngFor='let label of aDefaultTsplTemplates; let i = index'>
                          <td class="mw-100px text-truncate">
                            {{i+1}}
                          </td>
                          <td class="mw-200px text-truncate" [title]="label.name || ''">
                            {{label.name || ''}}
                          </td>

                          <td>

                            <button (click)="openLabelTemplateModal(label,'create', 'tspl')"
                              class="btn btn-primary btn-sm">
                              {{'CREATE'| translate}}

                            </button>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="d-flex justify-content-center align-items-center h-100px">
                      <h5 *ngIf='!aDefaultTsplTemplates?.length && !isLoadingDefaultLabel'> {{ "NO_DATA_FOUND" |
                        translate}}!</h5>
                      <div class="row h-200px" *ngIf="isLoadingDefaultLabel">
                        <div class="spinner-box h-200px">
                          <div class="three-quarter-spinner">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-5 mb-xl-10 d-flex" data-kt-scroll-section="print-action">
    <div class="card-header">
      <div class="card-title flex-wrap">
        <div class="d-flex justify-content-between align-items-center flex-grow-1">
          <span>{{"PRINT_ACTIONS" | translate}}</span>
          <button class="btn btn-primary btn-sm" (click)="openActionSetting()">{{"ADD_NEW_ACTION" | translate}}</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="d-flex">
        <div class="spinner-border mx-auto" *ngIf="bShowActionSettingsLoader"> </div>
      </div>

      <div *ngIf="aActionSettings?.length else noActions">
        <div class="" *ngFor="let item of aActionSettings;let actionSettingIndex=index;">
          <div *ngIf="item?.aActions?.length else noActions">
            <p class="fw-bold">{{item?.sWorkStationName}}</p>
            <table class="table table-row-gray-400 gx-2 mt-4 table-row-bordered table-rounded border border-gray-400">
              <thead>
                <tr>
                  <th class="border border-gray-400 text-center">{{'TYPE' | translate}}</th>
                  <th class="border border-gray-400 text-center">{{'SITUATION' | translate}}</th>
                  <th class="border border-gray-400 text-center">{{'ACTION_TO_PERFORM' | translate}}</th>
                  <th class="border border-gray-400 text-center">{{'ACTION' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr class="" *ngFor="let item of item?.aActions;let index=index;">
                  <td class="border border-gray-400 text-center">{{item.eType}}</td>
                  <td class="border border-gray-400 text-center">{{item.eSituation}}</td>
                  <td class="border border-gray-400 text-center">
                    <span class="badge badge-success" *ngFor="let action of item.aActionToPerform">
                      {{action}}
                    </span>
                  </td>
                  <td class="border border-gray-400 text-center">
                    <div class="d-flex justify-content-center">
                      <button class="btn btn-info btn-sm me-2"
                        (click)="openActionSetting('update',actionSettingIndex , index)">
                        <fa-icon [icon]="faPencilAlt"></fa-icon>
                      </button>
                      <button class="btn btn-danger btn-sm" (click)="removeActionSetting(actionSettingIndex , index)">
                        <fa-icon [icon]="faXmark"></fa-icon>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <ng-template #noActions>
        <p>{{'NO_AUTO_ACTIONS_CREATED_FOR_YOUR_WORKSTATION' | translate}}</p>
      </ng-template>
    </div>
  </div>
</div>