@import "./assets/sass/style"
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css"


*
    font-size: 13px!important

.btn-primary 
    background-color: #3ba68c !important
    border-color: #3ba68c !important

.btn-secondary 
    background-color: #e4e6ef !important
    border-color: #e4e6ef !important
    color: #3f4254 !important

.container
    background-color: #f6f8fa !important

.card 
    border: 0
    box-shadow: 0 0 20px 0 #4c577d05
    border-radius: 0.475rem
    background-color: #fff

.card .card-footer 
    background-color: initial
    border-top: 1px solid #eff2f5

.form-control 
    display: block
    width: 100%
    padding: 0.75rem 1rem
    font-size: 1.1rem
    font-weight: 500
    line-height: 1.5
    color: #181c32
    background-color: #fff
    background-clip: padding-box
    border: 1px solid #e4e6ef
    -webkit-appearance: none
    appearance: none
    border-radius: 0.475rem
    box-shadow: inset 0 1px 2px rgba(51,51,51,.075)
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out

.modal[role|="dialog"]
    background: rgba(0, 0, 0, 0.7) !important

.modal-content
    border-radius: 0.8rem
    top: 6px

.badge-info
    background: #3b8aa6

.btn-info
    background: #3a8aa6 !important
    color: #fff

    &:hover, &:focus
        color: #fff

.ngx-pagination .current
    color: #fff !important
    background-color: #b5b5c3 !important
    border-radius: 0.475rem
    height: 2.5rem
    min-width: 2.5rem
    font-weight: 500
    font-size: 1.075rem
    display: inline-flex
    justify-content: center
    text-align: center
    align-items: center

ng-select .ng-select-container
    background: #f6f8fa !important
    border: 1px solid transparent !important
    border-color: 1px solid #f6f8fa !important

.cursor-pointer
    cursor: pointer !important

.table>:not(:first-child) 
    border-top: none !important


.btn-secondary
    color: #3f4254
    background-color: #e4e6ef
    border-radius: 0.475rem

.btn-secondary.btn-sm
     font-size: .925rem


.btn-check:active+.btn.btn-outline.btn-outline-dashed.btn-outline-default, .btn-check:checked+.btn.btn-outline.btn-outline-dashed.btn-outline-default, .btn.btn-outline.btn-outline-dashed.btn-outline-default.active, .btn.btn-outline.btn-outline-dashed.btn-outline-default.show, .btn.btn-outline.btn-outline-dashed.btn-outline-default:active:not(.btn-active), .btn.btn-outline.btn-outline-dashed.btn-outline-default:focus:not(.btn-active), .btn.btn-outline.btn-outline-dashed.btn-outline-default:hover:not(.btn-active), .show>.btn.btn-outline.btn-outline-dashed.btn-outline-default
    color: #3ba68c
    border-color: #3ba68c
    background-color: #f1faff!important

.form-check-input:checked 
    background-color: #3ba68c !important
    border-color: #3ba68c !important

.btn.btn-outline.btn-outline-dashed.btn-outline-default 
    color: #7e8299 !important
    border: 1px dashed #e4e6ef !important


label.form-switch.form-check-custom
    display: flex
    align-items: center
    input.form-check-input
        height: 30px
        width: 48px
        margin-right: 5px

input.form-control, textarea.form-control
    background: #f6f8fa
    border: none !important

.btn
    padding: calc(0.75rem + 1px) calc(1.5rem + 1px)
    border-radius: .475rem
    font-size: 1.1rem
    line-height: 1.5
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    
.btn-light-primary
    color: #3ba68c
    border-color: #f1faff
    background-color: #f1faff

.btn-danger
    color: #fff
    background-color: #a63b55

.btn-warning
    color: #fff
    background-color: #f29c33

.btn-secondary
    color: #3f4254
    background-color: #e4e6ef

.btn-light
    background-color: #f5f8fa
        
		
	